
@{
    ViewBag.Title = "DenunciaMensile_Lettura";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

@model TFI.OCM.AziendaConsulente.DatiDenuncia

<!-- #region Modal Dialog Sospensioni -->
<div class="modal fade" tabindex="-1" id="sospensioni_modal" data-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Elenco Sospensioni - Matricola: <span id="numMatricola"></span></h5>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="cont_tbSospensioni">
                    <table class="table" id="tb_sospensioni">
                        <thead>
                            <tr>
                                <th>Data Inizio</th>
                                <th>Data Fine</th>
                                <th>Motivo Sospensione</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn_official" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->

<div class="card card-default" id="denunciaMensile_lettura">
    <div style="background-color: #0c773c" class="card-header">
        <h3 style="color:white;text-align:center;width:100%;font-size:25px" class="card-title">
            Visualizzazione Denuncia Mensile
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <section class="content" style="width:100%">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row" id="headRow1">
                                        <div class="col-6">
                                            <b>@Model.Periodo</b>
                                        </div>
                                        <div class="col-6">
                                            <div style="float:right">
                                                @Html.Label("Data Denuncia")
                                                @Html.TextBox("dataDenuncia", Model.TotTestata.DataDenuncia, new { @readonly = true, @id = "dataDenuncia" })
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row" id="headRow2">
                                        <div class="col-4">
                                            @Html.Label("Indirizzo: ")
                                            @Model.SedeLegale
                                        </div>
                                        <div class="col-4">
                                            @Html.Label("Codice Fiscale: ")
                                            @Model.DatiAnagrafici.CodFiscAziendale
                                        </div>
                                        <div class="col-4">
                                            @Html.Label("Partita IVA: ")
                                            @Model.DatiAnagrafici.PartitaIVA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">

            <section class="content" style="width:100%">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                @*<div class="card-header card_h">

                                    </div>*@
                                <div class="card-body">
                                    <div class="overflow-auto" style="max-height: 75vh">
                                        <table class="table table-bordered table-hover table-striped" id="tb_DenunciaMensile">
                                            <thead>
                                                <tr>
                                                    <th>Mat.</th>
                                                    <th>Cognome e Nome</th>
                                                    <th>Dal</th>
                                                    <th>Al</th>
                                                    <th>Qual.</th>
                                                    <th>Liv.</th>
                                                    <th>Prest.</th>
                                                    <th width="80px">Ret.Imp.</th>
                                                    <th width="80px">di cui Occ.</th>
                                                    @if (Model.ImpFigColumnIsVisible)
                                                    {
                                                        <th width="80px">Fig.</th>
                                                    }
                                                    <th>Aliq.</th>
                                                    <th>Contrib.</th>
                                                    <th>P.A.</th>
                                                    <th>A.C.</th>
                                                    <th>Sosp.</th>
                                                    <th style="display:none">ProRap</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tb_DenunciaMensile_Body">
                                                @foreach (TFI.OCM.AziendaConsulente.RetribuzioneRDL report in Model.Records)
                                                {
                                                    <text>
                                                        <tr>
                                                            <td>@report.Mat</td>
                                                            <td>@report.Nome</td>
                                                            <td>@report.Dal</td>
                                                            <td>@report.Al</td>
                                                            <td>@report.DenQua</td>
                                                            <td>@report.Livello</td>
                                                            <td class="prest">@report.PerApp</td>
                                                            <td>
                                                                @Html.TextBox("impRet", report.ImpRet, new
                                                                {
                                                                    @id = "impRet_" + report.Mat,
                                                                    style = "max-width: 100px",
                                                                    @class = "txt_impRet",
                                                                    @readonly = "readonly",
                                                                    oldValue = "0"
                                                                })
                                                            </td>
                                                            <td>
                                                                @Html.TextBox("impOcc", report.ImpOcc, new
                                                                {
                                                                    @id = "impOcc_" + report.Mat,
                                                                    style = "max-width: 80px",
                                                                    @class = "txt_impOcc",
                                                                    @readonly = "readonly",
                                                                    oldValue = "0"
                                                                })
                                                            </td>
                                                            @if (Model.ImpFigColumnIsVisible)
                                                            {
                                                                <td>
                                                                    @Html.TextBox("impFig", report.ImpFig, new
                                                                    {
                                                                        @id = "impFig_" + report.Mat,
                                                                        style = "max-width: 80px",
                                                                        @class = "txt_impFig",
                                                                        @readonly = "readonly",
                                                                        oldValue = "0"
                                                                    })
                                                                </td>
                                                            }
                                                            <td class="aliq">@report.Aliquota</td>
                                                            <td class="impCon">@report.ImpCon</td>

                                                            <td>
                                                                <label style="display:none">@report.AbbPre</label>
                                                                @if (report.AbbPre != "S")
                                                                {
                                                                    <i class="fas fa-check spunta" style="display:none"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fas fa-check spunta"></i>
                                                                }
                                                            </td>
                                                            <td>
                                                                <label style="display:none">@report.AssCon</label>
                                                                @if (report.AssCon != "S")
                                                                {
                                                                    <i class="fas fa-check spunta" style="display:none"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fas fa-check spunta"></i>
                                                                }
                                                            </td>
                                                            <td>
                                                                @*sospensioni*@
                                                                @if (report.AreSospesioniInMonth)
                                                                {
                                                                    <a class="link_sosp">
                                                                        <i class="far fa-calendar-alt"></i>
                                                                    </a>
                                                                }
                                                            </td>
                                                            <td style="display:none" class="proRap">@report.ProRap</td>
                                                        </tr>
                                                    </text>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <section id="paginazione">
                                        <div class="row d-flex justify-content-end w-100 align-items-center mb-0 h-75">
                                            <div>
                                                <select id="pageSize" class="page-link page-number m-3 pagination" aria-label="Default select example" onchange="changePageSize(event)">
                                                    <option value="10" selected>10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                            <div>
                                                <nav class="m-3" aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                        <li class="page-item"><button type="button" class="page-link" value="" onclick="goToPage(-1, true)"><<</button></li>
                                                        <li class="page-item"><button type="button" class="page-link" value="" onclick="goToPage(-1)"><</button></li>
                                                        <li class="page-item"><button type="button" class="page-link" value="" onclick="goToPage(1)">></button></li>
                                                        <li class="page-item"><button type="button" class="page-link" value="" onclick="goToPage(1, true)">>></button></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <div id="pageCount">
                                                0/0
                                            </div>
                                        </div>
                                    </section>
                                    <section class="content row" style="width:100%" id="totali">
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card-body row" id="barraBassa">
                                                    <div class="col-3 row">
                                                        @Html.Label("Totale Dipendenti")
                                                        <p id="totDipendenti">@Model.TotDipendenti</p>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="row" style="float:right">
                                                            @Html.Label("Imponibile")
                                                            <p id="totImponibili">€ @Model.TotTestata.TotImpRet</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="row" style="float:right">
                                                            @Html.Label("Occasionale")
                                                            <p id="totOccasionali">€ @Model.TotTestata.TotImpOcc</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="row" style="float:right">
                                                            @Html.Label("Figurativa")
                                                            <p id="totFigurativa">€ @Model.TotTestata.TotImpFig</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <div class="row" style="float:right">
                                                            @Html.Label("Contributi")
                                                            <p id="totSanitario">€ @Model.TotTestata.TotImpCon</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="card-body row">
                                            <div class="col-6">
                                                @if (ViewBag.btnRettificheIsVisible)
                                                {
                                                    @Html.ActionLink("Rettifiche", "DenunciaMensile_Rettifiche", new { anno = Model.Anno, mese = Model.Mese, proDen = Model.ProDen, idDipa = Model.IdDipa }, new { @class = "btn_official", id = "btn_rettifiche" })
                                                }
                                            </div>
                                            <div class="col-3">
                                                @Html.ActionLink("Totali", "TotaliDIPA", "AziendaConsulente", new { anno = Model.Anno, mese = Model.Mese, proDen = Model.ProDen, idDipa = Model.IdDipa }, new { @class = "btn_official", id = "btn_totali" })
                                            </div>
                                            <div class="col-3">
                                                @Html.ActionLink("Torna Indietro", "DenunciaMensile_Index", new { annoSelezionato = Model.Anno, isFirstLoading = false }, new { @class = "btn_official", id = "btn_chiudi" })
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row justify-content-end">

        </div>
    </div>
</div>

@section showMessage{
    @{Html.RenderPartial("PartialViewShowMessages");}
}

@*@section JS{

        @Scripts.Render("~/dist/js/pages/DenunciaMensile_Lettura.js")
    }*@

<script>
    var reports = Array.from(document.querySelectorAll('#tb_DenunciaMensile_Body > tr'));
    var reportLength = reports.length;
    let pageSize = 10;
    let currentPage = 1;

    function changePageSize(event) {
        pageSize = +event.target.value;
        currentPage = 1;
        changePage(reports);
    };

    function changePage(list) {
        hideRows(list);
        showRows(list.slice((currentPage - 1) * pageSize, (currentPage - 1) * pageSize + pageSize));
        changePageCount();

        function changePageCount() {
            let maxPages = Math.ceil(reportLength / pageSize);
            document.getElementById("pageCount").innerHTML = currentPage + "/" + maxPages;
        }

        function hideRows(list) {
            for (let row of list)
                row.setAttribute('hidden', true);
        }

        function showRows(listToShow) {
            for (let i = 0; i < listToShow.length; i++)
                listToShow[i].removeAttribute('hidden', false);
        };
    };

    function goToPage(pageChange, isBulk = false) {
        if (isBulk) {
            let nextPage = currentPage + pageSize * pageChange;
            isPageChangeable(nextPage);
        }
        else {
            let nextPage = currentPage + pageChange;
            isPageChangeable(nextPage);
        }

        function isPageChangeable(nextPage) {
            let maxPages = Math.ceil(reportLength / pageSize);
            if (nextPage > 0 && nextPage <= maxPages)
                currentPage = nextPage;

            if (nextPage < 0)
                currentPage = 1;

            if (nextPage > maxPages)
                currentPage = maxPages;

            changePage(reports);
        }
    };

    $(document).ready(function () {
        changePage(reports);
    });

    $("#tb_DenunciaMensile .link_sosp").click(function () {
        var obj = $(this);
        VisualizzaSospensioni(obj);
    });

    function VisualizzaSospensioni(obj) {
        let matricola = obj.parent().parent().children().html().toString();
        let proRap = obj.parent().parent().children(".proRap").html().toString();
        let dal = obj.parent().parent().children().eq(2).html().toString();
        let al = obj.parent().parent().children().eq(3).html().toString();
        let row = "";

        $.ajax({
            url: '/AziendaConsulente/CaricaListaSospensioni',
            dataType: "json",
            method: "POST",
            data: { 'matricola': matricola, 'proRap': proRap, 'dataIni': dal, 'dataFin': al },
            success: (listaSospensioni) => {
                $("#numMatricola").html(matricola);
                SvuotaTabellaSospensioni();

                if (listaSospensioni != null) {
                    for (let i in listaSospensioni) {
                        row = "<tr>";
                        row += "<td>" + listaSospensioni[i].DataInizio + "</td>";
                        row += "<td>" + listaSospensioni[i].DataFine + "</td>";
                        row += "<td>" + listaSospensioni[i].DenSos + "</td>";
                        row += "</tr>";
                        $("#tb_sospensioni tbody").append(row);
                    }
                }
                $("#sospensioni_modal").modal("show");
            },
            error: () => alert("Errore chiamata ajax")
        });
    }

    function SvuotaTabellaSospensioni() {
        let row = "<tr><td></td></tr>";
        $("#tb_sospensioni tbody").html(row);
    }
</script>