@model TFI.OCM.AziendaConsulente.DelegheOCM
@{
    ViewBag.Title = "Dettaglio Delega";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

@section showMessage{
    @{Html.RenderPartial("PartialViewShowMessages");}
}

<style>
</style>


<div class="card">
    <div class="card-header" style="background: #0c773c;text-align: center;width: 100%;color: white;font-size: 25px">
        Dettaglio Delega
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="card card-primary card-tabs">

                    <div class="card-body">

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <p>
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-12 mt-1">
                                                <label>Data Richiesta Delega</label>
                                                <p id="datini" name="datini" value="">@Model.datidelega.datini</p>
                                            </div>
                                        </div>
                                        <h5 class="font-weight-bold">AZIENDA</h5>

                                        <div class="form-row">
                                            <div class="form-group col-6 mt-1">
                                                <label>Ragione Sociale</label>
                                                <p id="RagioneSocialePA" name="RagioneSocialePA" asp-for="RagioneSocialePA" value="">@Model.datidelega.RagSocAz</p>
                                            </div>
                                            <div class="form-group col-6 mt-1">
                                                <label>Codice Fiscale</label>
                                                <p id="CodiceFiscalePA" name="CodiceFiscalePA" asp-for="CodiceFiscalePA">@Model.datidelega.CodFisAz</p>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-6 mt-1">
                                                <label>Partita IVA</label>
                                                <p id="PartitaIVAPA" name="PartitaIVAPA" asp-for="PartitaIVAPA">@Model.datidelega.ParIvaAz</p>
                                            </div>
                                            <div class="form-group col-6 mt-1">
                                                <label>Natura Giuridica</label>
                                                <p id="NaturaGiuridicaPA" name="NaturaGiuridicaPA" asp-for="NaturaGiuridicaPA">@Model.datidelega.NATGIU</p>
                                            </div>
                                        </div>
                                        <hr />
                                        <h5 class="font-weight-bold">CONSULENTE</h5>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Ass./Studio</label>
                                                    <p id="AssStudio" name="AssStudio"> @Model.datidelega.AssStudio</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Denominazione</label>
                                                    <p id="Denominazione" name="Denominazione">@Model.datidelega.Denominazione</p>
                                                    <input id="codTer" name="codTer" value="@Model.datidelega.codTer" hidden>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Ragione Sociale</label>
                                                    <p id="RagSocDe" name="RagSocDe">@Model.datidelega.RagSocDe</p>
                                                </div>
                                            </div>

                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Partita Iva</label>
                                                    <p id="ParIvaDe" name="ParIvaDe" maxlength="11">@Model.datidelega.ParIvaDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Codice Fiscale</label>
                                                    <p id="CodFisDe" name="CodFisDe">@Model.datidelega.CodFisDe</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>DUG</label>
                                                    <p id="ViaDe" name="ViaDe">@Model.datidelega.ViaDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Indirizzo</label>
                                                    <p id="IndDe" name="IndDe">@Model.datidelega.IndDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Numero Civico</label>
                                                    <p id="NumCivDe" name="NumCivDe">@Model.datidelega.NumCivDe</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Provincia</label>
                                                    <p id="PrDe" name="PrDe">@Model.datidelega.PrDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Comune</label>
                                                    <p id="ComuneDe" name="ComuneDe">@Model.datidelega.ComuneDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Località</label>
                                                    <p id="LocalitaDe" name="LocalitaDe">@Model.datidelega.LocalitaDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 mt-1">
                                                <div class="form-group">
                                                    <label>Cap</label>
                                                    <p id="CapDe" name="CapDe">@Model.datidelega.CapDe</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Telefono</label>
                                                    <p id="TelDe" name="TelDe">@Model.datidelega.TelDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Cellulare</label>
                                                    <p id="CelDe" name="CelDe">@Model.datidelega.CelDe</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <p id="EmailDe" name="EmailDe">@Model.datidelega.EmailDe</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-1">
                                                <div class="form-group">
                                                    <label>Email Certificata</label>
                                                    <p id="EmailCertDe" name="EmailCertDe">@Model.datidelega.EmailCertDe</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </p>
                                <div class="form-row justify-content-between mt-3">
                                    <div class="col-10">
                                        <a class="btn btn-outline-secondary" id="indietro" href="@Url.Action("Delega", "AziendaConsulente")">
                                            Indietro
                                        </a>
                                    </div>
                                    @if (Model.datidelega.IsInAttesa)
                                    {
                                        <div class="d-flex justify-content-between col-2">
                                            <a class="btn btn-outline-danger" id="rifiuta" href="@Url.Action("EliminaDelega", "AziendaConsulente", new { codTer = Model.datidelega.codTer })">
                                                Rifiuta
                                            </a>
                                            <a class="btn btn-outline-success" id="accetta" href="@Url.Action("AttivaDelega", "AziendaConsulente", new { codTer = Model.datidelega.codTer })">
                                                Accetta
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

