@model TFI.Models.PasswordResetViewModel
@{
    ViewBag.Title = "Enpaia | Reset Password";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@{Html.RenderPartial("PartialViewShowMessages");}

<div class="container col-lg-6 col-md-8 col-sm-12 text-white p-5 mt-3" style="background-color: #097132">
    <div class="row mb-4 d-flex justify-content-center">
        <div class="text-center mr-3">
            <img class="mt-3 mb-3" style="border-radius: 2%; width:123px; background-color:white" src="~/Images/Logo-Fondazione-Enpaia.png">

        </div>

        <div class="text-sm-center text-md-left">
            <h2 style="margin-top:50px;">
                <label class="text-white" style="font-family: 'Poppins',sans-serif;">Recupero Password</label>
            </h2>

        </div>
    </div>

    <form method="post" style="font-size: 18px">
        <input type="text" name="Token" value="@Model.Token" hidden />
        <div class="form-group">
            <label>Password:</label>
            <div class="d-flex flex-row">
                <input required type="password" id="password" name="Password" class="form-control" value="@Model.Password" 
                       pattern="@("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!\"?$%&()=[\\]<>+._*@#-]).{8,16}$")" 
                       title="Inserire una password con: &nbsp; &ndash; una lunghezza tra 8 e 16 caratteri &nbsp; &ndash; almeno un carattere minuscolo &nbsp; &ndash; almeno un carattere maiuscolo &nbsp; &ndash; almeno un carattere numerico &nbsp; &ndash; almeno un carattere speciale tra @("!\"?$%&()=[\\]<>+._*@#-")"
                       placeholder="Inserisci nuova password" />
                <i class="fas fa-eye" id="togglePassword" style="cursor: pointer; color: black; margin-left: -35px; margin-top: 10px"></i>
            </div>
        </div>
        <div class="form-group">
            <label>Conferma Password:</label>
            <div class="d-flex flex-row">
                <input required id="confermaPassword" type="password" equalto="#password" name="RepeatPassword" class="form-control" value="@Model.RepeatPassword" 
                       pattern="@("^(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!\"?$%&()=[\\]<>+._*@#-]).{8,16}$")" 
                       title="Inserire una password con: &nbsp; &ndash; una lunghezza tra 8 e 16 caratteri &nbsp; &ndash; almeno un carattere minuscolo &nbsp; &ndash; almeno un carattere maiuscolo &nbsp; &ndash; almeno un carattere numerico &nbsp; &ndash; almeno un carattere speciale tra @("!\"?$%&()=[\\]<>+._*@#-")"
                       placeholder="Conferma la password" />
                <i class="fas fa-eye" id="toggleConfermaPassword" style="cursor: pointer; color: black; margin-left: -35px; margin-top: 10px"></i>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Conferma" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        const togglePassword = document.querySelector('#togglePassword');
        const toggleConfermaPassword = document.querySelector('#toggleConfermaPassword');
        const password = document.querySelector('#password');
        const confermaPassword = document.querySelector('#confermaPassword');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

        toggleConfermaPassword.addEventListener('click', function (e) {
            const type = confermaPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            confermaPassword.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    });


</script>