@model IEnumerable<TFI.OCM.Iscritto.ListaConvenzioniIscritto>
@{
    ViewBag.Title = "Convenzioni";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}
@section showMessage{
    @{Html.RenderPartial("PartialViewShowMessages");}
}
<title>Enpaia | Convenzioni </title>
<style>
    .table td {
        vertical-align: middle;
        text-align: center;
    }

    .table thead th {
        vertical-align: middle;
        text-align: center;
    }

    .input-group > .form-control {
        border-color: #0c773c;
        margin-right: 20px;
    }

    .btn:hover {
        background-color: #0c773c;
    }
</style>


@if (Model.Count() <= 0)
{
    <p>Non sono presenti documenti da visualizzare</p>
}
else
{
    <div class="card">
        <div style="background-color: #0c773c" class="card-header">
            <h3 style="color:white;text-align:center;width:100%;font-size:25px" class="card-title">Elenco Convenzioni</h3>
        </div>
        <div class="card-body">
            <table id="table" class="table table-hover table-striped">
                <thead>
                    <tr class="header" style="background:#0c773c;color:white">
                        <th></th>
                        <th>Data Inserimento</th>
                        <th>Titolo</th>
                        <th>Descrizione</th>
                        <th>Scarica</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ListaConvenzioniIscritto in Model)
                    {
                        <tr>
                            <td class="d-flex justify-content-center">
                                @if (ListaConvenzioniIscritto.PathImg != null)
                                {
                                    <img height="50" style="max-width: 150px;" src="@ListaConvenzioniIscritto.PathImg" />
                                }
                            </td>
                            <td style="text-align:center"> @ListaConvenzioniIscritto.DataInserimento</td>
                            <td style="text-align:center"> @ListaConvenzioniIscritto.Titolo</td>
                            <td style="text-align:center"> @ListaConvenzioniIscritto.Descrizione</td>
                            <td>
                                <a href="@ListaConvenzioniIscritto.Path" class="linkConvenzione" alert="@ListaConvenzioniIscritto.Path" target="_blank" ><img src="~/Images/Download.jpg" /></a>
                            </td>
                        </tr>
                    }

            </table>
        </div>
    </div>

}


@section JS{

    <script>

        $(".linkConvenzione").click(function () {

            var path = $(this).attr("alert");

            if (path == "#") {
                alert("File non disponibile");
            }

        });

    </script>
}