@using TFI.OCM.Amministrativo
@model EstrattoContoOCM
@section showMessage{
    @{Html.RenderPartial("PartialViewShowMessages");}
}
@{
    ViewBag.Title = "Estratto Conto Azienda";
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

<style>
    .btn:hover {
        background-color: #0c773c
    }
</style>

<title>Enpaia | Estratti Conto</title>
<!-- Main content -->
@using (Html.BeginForm("EstrattoContoAzienda", "Amministrativo"))
{
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header" style="background: #0c773c;text-align: center;width: 100%;color: white;font-size: 25px">
                            Estratti Conto Azienda
                        </div>
                        <div class="card-body">

                            <div class="input-group">
                                <div class="col-lg-3">
                                    <label>Posizione Azienda:</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="codpos" name="codpos" asp-for="codpos">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Ragione sociale:</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" id="ragsoc" name="ragsoc" asp-for="ragsoc">
                                    </div>
                                </div>


                                <div class="col-lg-2">
                                    <label>&nbsp;</label>
                                    <button name="cerca" id="cerca" asp-for="cerca" type="submit" class="btn btn-block btn-outline-success float-end" value="Cerca">Cerca</button>
                                </div>

                            </div>
                        </div>
                        @if (Model != null)
                        {


                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Posizione</label>
                                            <input type="text" class="form-control" value="@Model.az.Posizione" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>Ragione Sociale</label>
                                            <input type="text" class="form-control" value="@Model.az.RagioneSociale" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Codice Fiscale</label>
                                            <input type="text" class="form-control" value="@Model.az.CodiceFis" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Partita IVA</label>
                                            <input type="text" class="form-control" value="@Model.az.PartitaIva" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Indirizzo Sede Amm.</label>
                                            <input type="text" class="form-control" value=" VIA @Model.az.Indirizzo  @Model.az.NumeroCivico " disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Comune</label>
                                            <input type="text" class="form-control" value="@Model.az.Comune" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>CAP</label>
                                            <input type="text" class="form-control" value="@Model.az.CAP
                                           " disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label>Provincia</label>
                                            <input type="text" class="form-control" value="@Model.az.Provincia
                                           " disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card-body">
                                <div style="height:300px; overflow:scroll;">
                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th style="background:#0c773c;color:white;width:25%;text-align:center;vertical-align:middle">Saldo al 31/12</th>
                                                <th style="background:#0c773c;color:white;width:25%;text-align:center;vertical-align:middle">Estratti Conto TFR</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{



                                                foreach (var itm in Model.estrattiContos)
                                                {
                                                    <tr>
                                                        <td style="text-align:center"> @itm.Anno</td>
                                                        <td style="text-align:center"><a href="@Url.Action("FTP_DownloadFile","Amministrativo",new { path = @itm.NomeFile})"><img src="~/Images/pdf-icon-png-adobe-acrobat.png" /></a></td>
                                                    </tr>
                                                }

                                            }
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h4 style="text-align:center;font-weight:600;font-size:15px">Per una corretta visualizzazione degli Estratti Conto scaricare la versione Acrobat Reader 20.xx</h4>

    <center> <a href="https://get.adobe.com/it/reader/"><img src="~/Images/adobeReader.jpg" style="height:35px" /></a></center>
    <br />
}
